{% extends 'partials/base.html' %}


{% block content %}
<head>
   <meta http-equiv="Refresh" name="fresh" content="10">
</head>

        <div class="row mt-5">
        <div class="col-md-4 mt-2">
            <h4>List</h4>
            <hr>
 
        {% for data in products %}
        ID: {{ data.id }}<br/>
        Category: {{ data.category }}<br/>
        Number of products {{ data.num_of_products }}<br/>
        Date {{ data.date_of_last_one }}<br/>
        <hr/>
 
        {% endfor %}

</div>
<!--<script>
    function change() {
    const timer = document.getElementById("time").value;
         xd= document.querySelector('meta[name="fresh"]').setAttribute("content",timer);
          console.log(timer);
          console.log(xd);
    }
</script>-->
        <div class="col-md-8">
            <canvas id="myChart" width="400" height="250"></canvas>
                <script>
                    //
                    /* 
        */
              /*function test(){
                    if(window.myCharts!= null)
                   {
                    window.myCharts.destroy();
                        
                   }   */
                
                var ctx = document.getElementById('myChart').getContext('2d');
                window.myCharts = new Chart(ctx, {
                    type: 'bar',
                    responsive : true,
                    data: {
                        labels: [{% for product in products %}  '{{ product.full_category_name }}',  {% endfor %}],
                        datasets: [{
                            label: '# of Tacts',
                            data: [{% for product in products %}  {{ product.num_of_products }},  {% endfor %}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.8)',
                                'rgba(54, 162, 235, 0.8)',
                                'rgba(255, 206, 86, 0.8)',
                                'rgba(75, 192, 192, 0.8)',
                                'rgba(153, 102, 255, 0.8)',
                                'rgba(255, 159, 64, 0.8)',
                                'rgba(240, 120, 50, 0.8)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(240, 120, 50, 1)',

                            ],
                            borderWidth: 2
                        }]
                    },
                    options: {
                        
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                }); 
           // }
                
            //test();
              // window.setInterval( test, 5000);
              // window.myCharts.reload();
             
                </script>

<!--
                <form>
				<label>Set refresh time<br/>
					<input type="number" id="time" /><br/>
				</label>
				<button type="button" onclick="change()">Set time</button>
			</form>-->
        </div>
    </div>



{% endblock %}
